
Private page Admin-view
  <div>

<br>
<br>
<br>

{{!-- <a href="/manage/documents" >Documents</a><br> --}}
{{!-- <a href="/manage/arved" >Arved</a><br> --}}
<a href="/auth/signup" target="_blank">Create a new user</a><br>
<a href="/forrental/step1" >Create a new property ADD</a><br>
<a href="/forrental/all" >Manage existing property </a><br>
<a href="#" target="_blank"></a><br>



  </div>










