
Private page Admin-view
{{#if user}}
  <div>

<br>
<br>
<a href="/manage/documents" >Documendid</a><br>
<a href="/manage/arved" >Arved</a><br>
<a href="/auth/signup" target="_blank">Loo uus kasutaja</a><br>
<a href="/manage/manageAdd" >Manage your property ADD</a><br>
<a href="#" target="_blank"></a><br>



  </div>
{{/if}}










