
<h1>FOR RENT</h1>
<div class="text-container-sm">
  {{!-- here comes partial?? for sm text on a front page --}}
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dolor elit, congue eu leo in, finibus volutpat arcu. Mauris ut ornare lacus, at ullamcorper diam. Duis scelerisque, quam ut tristique tempus, quam neque congue massa, sit amet iaculis felis nibh eu sem. Morbi id laoreet ligula. Donec semper, leo commodo ultrices blandit, enim est tristique ipsum, et pulvinar orci mauris sed sapien. Etiam ut eros auctor, faucibus magna a, auctor nibh. Etiam semper metus quis arcu mollis, vitae euismod ex auctor. Nam facilisis semper sapien, quis condimentum leo. Suspendisse in sapien eget metus condimentum pellentesque in eget nisl. Phasellus suscipit odio porttitor nunc sagittis, nec elementum nisi lobortis. Fusce at nulla est. 
</div>
<a href="/moreinfo">Read more</a>



{{!-- rent page picturest (few of them) --}}
<div class=“pics-container-sm">
  {{#each pics}}
    {{> jahuPic this}}
  {{/each}}
</div>
<a href="">See more</a>


{{!-- Media links --}}
<h2>Media links</h2>
<ul>
 <li>
  <a href="https://www.youtube.com/watch?v=xqnk1_rSVhI&fbclid=IwAR3FETOcr4pw-naH63_zPr8XKYi6nMuhRyDRuG3RTtaNN13Rqerj2hZ8WxQ" target="_blank">Music video shot in the property</a>
 </li>
 <li>
  <a href="http://moodnekodu.delfi.ee/news/sisustusjadisain/endisesse-vabrikuhoonesse-rajatud-stuudiokorter-kalamajas?id=80667959&fbclid=IwAR3iuOnaVFZsGeKCg_HahGpF4sxQKEn9hHoqMUKL29fjIOd0RbhOv5ZW88s" target="_blank" > Home decortion magzine</a>
 </li>
</ul>
