<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

{{#if username}}
<p>Logged in as: {{username}}</p>
{{/if}}

  <nav>
    <a href="/">Home</a>
    <a href="/forrental/add">For Rent </a>
    <a href="/manage">Manage </a>
    <a href="/renter">Renter</a>
    <br>
    <a href="/auth/login">Login</a>
    <a href="/auth/signup">Signup</a>
    <a href="/auth/logout">Logout</a>

  </nav>

  {{{body}}}

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfMMFTS6hSNuL174IkbVj6nVZJeamVaPU&callback=initMap"
  type="text/javascript"></script>
</body>
</html>