

<h1>More info about the flat:</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dolor elit, congue eu leo in, finibus volutpat arcu. Mauris ut ornare lacus, at ullamcorper diam. Duis scelerisque, quam ut tristique tempus, quam neque congue massa, sit amet iaculis felis nibh eu sem. Morbi id laoreet ligula. Donec semper, leo commodo ultrices blandit, enim est tristique ipsum, et pulvinar orci mauris sed sapien. Etiam ut eros auctor, faucibus magna a, auctor nibh. Etiam semper metus quis arcu mollis, vitae euismod ex auctor. Nam facilisis semper sapien, quis condimentum leo. Suspendisse in sapien eget metus condimentum pellentesque in eget nisl. Phasellus suscipit odio porttitor nunc sagittis, nec elementum nisi lobortis. Fusce at nulla est. Cras volutpat, massa eu interdum laoreet, quam nunc lobortis dui, vel luctus nisi metus vel nunc. Nulla quis ligula vitae lorem eleifend luctus. Suspendisse lacinia porta elit et auctor.
</p>
<p>
Mauris pretium ex dolor, ut dapibus sapien imperdiet eu. Sed vestibulum lacus nec ex pulvinar hendrerit in a purus. Fusce ac vehicula nulla. Mauris vitae tincidunt lorem, quis condimentum lectus. Sed pulvinar non enim vel imperdiet. Vestibulum rutrum arcu at commodo cursus. Vestibulum vitae justo porttitor, dapibus nibh dapibus, eleifend libero. Aenean eget rhoncus lacus, a molestie quam. Phasellus nec purus lorem. Praesent sed lectus ligula.
</p>

{{!-- Siia google mapks asukohakaart ka --}}
<h1>Location</h1>
Locates in a hip Kalamaja area, closeby center of Tallinn and by the Klaranna seaside
<h2>Location on the map:</h2>