

<h2>this is a renter view</h2>

* siia tuleb nähtavale arved (koos kommude arvetega). Adminilt

<br><br>

* outstanding balance (admin peab looma)
<br><br>

* ja vb kalender veiw (tuleviku maksetega ja meeldetuletavate emailidega)
<br><br>

