

<h2>this is a renter view</h2>

* siia tuleb nähtavale arved (koos kommude arvetega). Adminilt

<br><br>

* outstanding balance (admin peab looma)
<br><br>

* ja vb kalender veiw (tuleviku maksetega ja meeldetuletavate emailidega)
<br><br>

<h1>NODEMAILER</h1>
<form action="/renter" method="post">
  <label for="">Email</label>
  <input type="email" name="email" id="">
  <label for="">Subject</label>
  <input type="text" name="subject" id="">
  <label for="">Message</label>
  <textarea type="text" name="message" id=""></textarea>
  <button type="submit">Submit</button>
</form>