

<h1>This is a ADMIN documents view</h1>

Uploaded files:
* Lease contract<br>
* Renter docs<br>

<br>

<br>
<br>

<section>
  <h3>Upload new documents here: </h3>
  <form action="/fileuploads/documents-view" method="post" enctype="multipart/form-data">
    <input type="text" name="name">
    <input type="file" name="docu">
    <input type="submit" value="Upload document">
  </form>
</section>