

<h1>This is a ADMIN documents view</h1>

Uploaded files:
* Lease contract<br>
* Renter docs<br>

<br>
<br>

<br>

{{#each foundDocs}}
  <a href="{{this.path}}">{{this.name}}test</a> <br>
{{/each }}

{{#if foundAdd}}
<section>
  <h3>Upload new documents here: </h3>
  {{!-- This is a front end in the client browser i.e the path in browser --}}
  <form action="/forrental/documents?id={{foundAdd.id}}" method="post" enctype="multipart/form-data">
    <input type="text" name="name">
    <input type="file" name="Testdocu">
    <input type="submit" value="Upload document">
  </form>
</section>
{{/if }}