

<h1>This is a ADMIN documents view</h1>

Uploaded files:
* Lease contract<br>
* Renter docs<br>

<br>
<br>
<br>

{{#each documents}}
  <a href="/manage/documents/{{rentalId}}" target= "_blank">{{originalName}}</a> <br>
{{/each }}


<section>
  <h3>Upload new documents here: </h3>
  {{!-- This is a front end in the client browser i.e the path in browser --}}
  <form action="/manage/documents?id={{id}}" method="post" enctype="multipart/form-data">
    <input type="text" name="name">
    <input type="file" name="docu">
    <input type="submit" value="Upload document">
  </form>
</section>