<h1>Hello im step 3</h1>


<form action="/forrental/step3?id={{id}}" method="post">
<h2>Please enter exact address of the property: </h2>
  <label for="address">Address: </label>
  <input type="text" name="address" id="address">

  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}


<br>
  <button type="submit">Send and continue</button>
</form> 