  <h3>Upload up to 10 Photos of your property here</h3>
    <form action="/forrental/step2b?id={{id}}" method="post" enctype="multipart/form-data">
    <input type="text" name="name">
    <input type="file" multiple  name="Pics">
    <input type="submit" value="Upload picture">
  </form>






