<h1>Hello im step 2</h1>


File upload part
  
<br>
<br>
<section>
  <h3>Upload 3 Photos for front page here: </h3>
  {{!-- This is a front end in the client browser i.e the path in browser --}}
  <form action="/forrental/step2?id={{id}}" method="post" enctype="multipart/form-data">
    <input type="text" name="name">
    <input type="file" multiple name="Pics">
    <input type="submit" value="Upload picture">
  </form>





