<h1>Hello im step 1</h1>



<form action="/forrental/step1" method="post">
<h2>Please enter a Headline for the rental advertisment: </h2>
  <textarea type="text" cols="100" rows="2" name="headline" id="headline"></textarea>

<h2>Please enter a short text for the rental advertisment: </h2>
  <textarea type="text" cols="100" rows="10" name="shortText" id="shortText"></textarea>

<h2>Please enter a longer text with more details: </h2>
  <textarea type="text" cols="100" rows="30" name="longText" id="longText"></textarea>

  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}
<br>
  <button type="submit">Send and continue</button>

</form> 
